{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "warn",
      {
        "before": true,
        "after": true,
        "overrides": { "colon": { "before": false, "after": true }}
      }
    ],
    "array-bracket-spacing": [
      "warn",
      "never"
    ],
    "arrow-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "block-spacing": [
      "warn",
      "always"
    ],
    "computed-property-spacing": [
      "warn",
      "never"
    ],
    "comma-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "func-call-spacing": [
      "error",
      "never"
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 2
      }
    ],
    "key-spacing": [
      "warn",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "never",
        "beforeClosing": "never"
      }
    ],
    "semi-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "space-in-parens": [
      "warn",
      "never"
    ],
    "spaced-comment": [
      "warn",
      "always"
    ],
    "space-before-blocks": [
      "warn",
      "always"
    ],
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ]
  }
}