.game-description {
  margin-bottom: 20px;
}

.menu-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.menu-buttons > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-buttons button {
  width: 140px;
  height: 30px;
}