.money-area {
  width: 70px;
  background-color: lightgreen;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 28px;
}

.money-area.overdrawn {
  background-color: lightsalmon
}

.money-area .dollar-sign {
  position: absolute;
  top: -7px;
  left: -13px;
  font-size: 60px;
}