.shop-row {
  display: flex;
  flex-direction: row;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
}

.shop-letter-container:not(:last-child) {
  margin-right: 20px;
}

.shop-letter-price {
  text-align: center;
  margin-bottom: 10px;
}