.word-points {
  width: 70px;
  background-color: yellow;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 28px;
}

.word-points.target-met {
  background-color: silver;
}

.word-points.secret-target-met {
  background-color: gold;
}